/*-- CSS Reset --*/
*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: Times New Roman, serif;
  font-weight: bold, italic;
  line-height: 1em;
}

/*-- Main Structural Styling --*/
body {
  background: #f7f7f7;
  color: #333333
}

section, header{
  width: 80%;
  max-width: 700px;
  margin: auto;
}

footer{
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
/*-- Styling Typography --*/
h1{
  font-size: 4.2rem;
  margin-bottom: 2rem;
  margin-top: 1.5em;
  font-family: Times New Roman;
  color: #506c50;
}

header h2{
  font-size: 2.827rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #d0a06b;
}

header p{
  font-size:1.1rem;
}

h2{
  font-size: 2rem;
  margin: 2em 0em 0.5em 0em;
}

h3{
  font-size: 1.5rem;
  color: #648764;
  margin: auto;
  margin-top: 1rem;
}

h3 p {
  text-align: left;
  font-size: 0.75rem;
  margin: 4em 0 3em 0;
  font-style: italic;
}

p, blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

blockquote {
  font-size: 1.3rem;
  font-style: italic;
  hanging-punctuation: first;
  text-indent: -0.60rem;
}

/*-- Styling Links --*/
a{
  color:#506c50;
  text-decoration:none
}

a:hover{
  color: #648764;
  border-bottom: 1px dotted;
}
