/*-- CSS Reset --*/
*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: Times New Roman, serif;
  font-weight: bold, italic;
  line-height: 1em;
}

/*-- Main Structural Styling --*/
body {
  background: #f7f7f7;
  color: #333333
}

section, header{
  width: 100%;
  max-width: 700px;
  margin: auto;
}

footer{
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
/*-- Styling Typography --*/
h1{
  font-size: 4.2rem;
  margin-bottom: 2rem;
  margin-top: 1.5em;
  font-family: Times New Roman;
  color: #BB4F00;
}

header h2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #C49879;
}

header p{
  font-size:1.1rem;
}

h2{
  font-size: 2rem;
  margin: 2em 0em 0.5em 0em;
}

h3{
  font-size: 1.5rem;
  color: #C49879;
  margin: auto;
  margin-top: 2rem;
}

h3 p {
  text-align: left;
  font-size: 0.75rem;
  margin: 4em 0 3em 0;
  font-style: italic;
}

p, blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

blockquote {
  font-size: 1.3rem;
  font-style: italic;
  hanging-punctuation: first;
  text-indent: -0.60rem;
  color: #BB4F00;
}

/*-- Styling Links --*/
a{
  color:#BB4F00;
  text-decoration:none
}

a:hover{
  color: #BB4F00;
  border-bottom: 1px dotted;
}

/*-- Styling Nav --*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #333333;
  padding: 2em 0;
  font-size: 0.9em
}

nav ul{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px
}

nav ul li{
  display: inline;
  margin: 20px;
}

nav a {
  color: #f7f7f7;
}

nav a{
  border-bottom: none;
  color: #f7f7f7;
  transition: all 0.5s ease-in-out;
}

li{
  color: #f7f7f7;
}
